#hmenu{
    margin: 0 auto;
    width: 750;
}

.bantin{
    width: 100%;
    background-color:lightcyan;
    margin-bottom: 20px;
}

.image img{
    width: 20%;
    float: left;
}
.bantin_1{
    width: 80%;
    float: right;
}
.congnghe a{
    text-decoration: none;
    font-size: larger;
    color: blue;
    font-variant: small-caps;
}
.congnghe a:hover{
    color: crimson;
}